<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oAuthTokenEndPoint</key>
	<string>https://idcs-b91f640f05ba4e639ee76053e9d07a5c.identity.oraclecloud.com/oauth2/v1/token</string>
	<key>logLevel</key>
	<string>info</string>
	<key>mobileBackend</key>
	<dict>
		<key>name</key>
		<string>CVSAPP</string>
		<key>baseURL</key>
		<string>https://122069DBAE0043149CEBFB17289DDE7A.mobile.ocp.oraclecloud.com:443</string>
		<key>authentication</key>
		<dict>
			<key>type</key>
			<string>oauth</string>
			<key>oauth</key>
			<dict>
				<key>clientID</key>
				<string>3a0e9e3bcac44fa89c7d178f2223cd08</string>
				<key>clientSecret</key>
				<string>975ed48c-5f36-45e1-b0f1-dd589a430e24</string>
			</dict>
			<key>basic</key>
			<dict>
				<key>mobileBackendID</key>
				<string>4e2e40c4-b091-4c15-9d1f-cfe5ed59de15</string>
				<key>anonymousKey</key>
				<string>MTIyMDY5REJBRTAwNDMxNDlDRUJGQjE3Mjg5RERFN0FfTW9iaWxlQW5vbnltb3VzX0FQUElEOjFiZTk1NjJmLWI4MmYtNDYxNC04ZWY4LTYxNzJhNjU5YjFhYw==</string>
			</dict>
			<key>tokenExchange</key>
			<dict>
				<key>basic</key>
				<dict>
					<key>mobileBackendID</key>
					<string>01234567-0123-0123-0123-0123456789ab</string>
					<key>anonymousKey</key>
					<string>dXNlcmlkOnBhc3N3b3Jk</string>
				</dict>
			</dict>
			<key>facebook</key>
			<dict>
				<key>facebookAppID</key>
				<string>012345678901</string>
				<key>basic</key>
				<dict>
					<key>mobileBackendID</key>
					<string>01234567-0123-0123-0123-0123456789ab</string>
					<key>anonymousKey</key>
					<string>dXNlcmlkOnBhc3N3b3Jk</string>
				</dict>
			</dict>
		</dict>
		<key>synchronization</key>
		<dict>
			<key>maxStoreSize</key>
			<integer>100</integer>
			<key>periodicRefreshPolicy</key>
			<string>PERIODIC_REFRESH_POLICY_PERIODICALLY_REFRESH_EXPIRED_ITEMS</string>
			<key>periodicRefreshInterval</key>
			<integer>120</integer>
			<key>policies</key>
			<array>
				<dict>
					<key>path</key>
					<string>/mobile/custom/API-NAME/endpoint/**</string>
					<key>expirationPolicy</key>
					<string>EXPIRE_AFTER</string>
					<key>expireAfter</key>
					<string>1200</string>
					<key>evictionPolicy</key>
					<string>EVICT_ON_EXPIRY_AT_STARTUP</string>
					<key>conflictResolutionPolicy</key>
					<string>PRESERVE_CONFLICT</string>
				</dict>
				<dict>
					<key>path</key>
					<string>/mobile/custom/API-NAME/endpoint/*</string>
					<key>fetchPolicy</key>
					<string>FETCH_FROM_SERVICE_ON_CACHE_MISS_OR_EXPIRY</string>
					<key>expirationPolicy</key>
					<string>EXPIRE_AFTER</string>
					<key>expireAfter</key>
					<string>60</string>
					<key>conflictResolutionPolicy</key>
					<string>SERVER_WINS</string>
				</dict>
			</array>
			<key>defaultPolicy</key>
			<dict>
				<key>fetchPolicy</key>
				<string>FETCH_FROM_SERVICE_IF_ONLINE</string>
				<key>evictionPolicy</key>
				<string>EVICT_ON_EXPIRY_AT_STARTUP</string>
				<key>expirationPolicy</key>
				<string>EXPIRE_AFTER</string>
				<key>expireAfter</key>
				<string>150</string>
				<key>conflictResolutionPolicy</key>
				<string>CLIENT_WINS</string>
			</dict>
		</dict>
	</dict>
	<key>analyticsApp</key>
	<dict>
		<key>name</key>
		<string>MyAnalyticsApp</string>
		<key>appKey</key>
		<string>0123456789abcdef0123456</string>
		<key>baseURL</key>
		<string>https://MyAnalyticsAppBaseURL</string>
		<key>analytics</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>notification</key>
			<dict>
				<key>profileName</key>
				<string>MyNotificationsProfileName</string>
			</dict>
		</dict>
		<key>authentication</key>
		<dict>
			<key>oauth</key>
			<dict>
				<key>clientID</key>
				<string>0123456789abcdef0123456</string>
				<key>clientSecret</key>
				<string>01234567-0123-0123-0123-0123456789ab</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
